* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
}

.container .card {
    position: relative;
    width: 270px;
    height: 440px;
    background: #232323;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.container .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1BBFE9;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;

}

.container .card:hover:before {
    clip-path: circle(280px at 80% -20%);
}

.container .card:after {
    content: "SHOE";
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 11em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
}

.container .card .imgBx {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 100%;
    height: 80%;
    transition: .5s;
}

.container .card:hover .imgBx {
    top: 0%;
    transform: translateY(-25%);
}

.container .card .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
    width: 180px;
}

.container .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    text-align: center;
    transition: 1s;
    z-index: 1001;
}

.container .card:hover .contentBx {
    height: 260px;
}

.container .card .contentBx h3 {
    position: relative;
    font-weight: 600;
    color: #fff;
}

.container .card .contentBx .size,
.container .card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 5px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

.container .card .contentBx .description {
    align-items: center;
    transition: .5s;
    text-align: center;
    margin: 5px;
    font-size: 12px;
}

.container .card .contentBx .price {
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.container .card .contentBx .category {
    align-items: center;
    transition: .5s;
    text-align: center;
    margin: 5px;
    font-size: 12px;
}

.container .card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
    justify-content: start;
}

.container .card:hover .contentBx .color {
    opacity: 1;
    visibility: visible;
    transition-delay: .6s;
}

.container .card .contentBx .size h3,
.container .card .contentBx .color h3,
.container .card .contentBx .price h3 {
    color: white;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container .card .contentBx .price h3 {
    font-size: 16px;
    color: #ff0
}

.container .card .contentBx .size div span {
    width: 36px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 10px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 2px;
    transition: .5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}

.container .card .contentBx .size div span:hover {
    background: #8cda06;
}

.container .card .contentBx .color span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

/* .container .card .contentBx a {
    display: inline-block;
    padding: 10px;
    background: #fff;
    border-radius: 4px;
    margin: 5px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: .5s;
} */

/* .container .card .contentBx button {
    display: inline-block;
    margin: 5px;
    opacity: 0;
    transform: translateY(50px);
    transition: .5s;
} */

.container .card .contentBx .view,
.container .card .contentBx .edit,
.container .card .contentBx .delete {
    display: inline-block;
    margin: 5px;
    opacity: 0;
    transform: translateY(50px);
    transition: .5s;
}

/* .container .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: .7s;
}  */

/* .container .card:hover .contentBx button {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: .7s;
} */

.container .card .contentBx .view,
.container .card .contentBx .edit,
.container .card .contentBx .delete {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: .7s;
}